body, html {
	height: 100%;
}
.page-logo {
	width: 100%;
	margin-bottom: 10px;
	float: left;
	
}
.page-logo a{
	display: block;
	float: left;
	height: 100%;
}
.page-logo  .dashtext {
	width: 63%;
	/* margin-left: 400px;*/
	float: right;
}
.portlet-body img {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.page-content {
	max-width: 1280px;
}
.page-content-wrapper {
	height: 100%;
}
#storemanagement a {
	width: 100%;
	display: block;
}
.dashboard-stat.red-intense.disabled {
	background-color: #cccccc;
}
.portlet-body {
	margin-bottom: 20px;
}
.dashboard-stat {
	margin-bottom: 20px !important;
}
#unavailable {
	display: none;
	padding: 20px;
}
.row.arrow-container {
	max-width: 1280px;
	margin-left: 0px;
	margin-right: 0px;
}
/******** METRONIC overrides ***********/
.dashboard-stat .details .desc {
	font-size: 15px !important;
}
.dashboard-stat .details {
	width: 100%;
}