.filetracker {
	width: 100%;
	height: 100%;
}
.invisible {
	display: none;
}
form#campaigndropdown {
	width: 100%;
}
form#campaigndropdown select {
	width: 300px;
	padding: 7px;
	margin: 10px 0 20px 0;
}
#campaigndropdown #profileid {
	display: none;
}
form#campaigndropdown button[type='submit']{
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 0;
	clear: both;
}
form#campaigndropdown button[name='backtohome']{
	border: 1px solid #ccc;
	height: 34px;
	margin-left: 2px;
	min-width: 80px;
	font-weight: bold;
	background-color: #f0f0f0;
}
form#filetrackersearch {
	width: 100%;
}
form#filetrackersearch button[type='submit']{
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 0;
	clear: both;
}
form#filetrackersearch input {
	width: 300px;
	padding: 5px;
	margin: 10px 0 20px 0;
}
#itemcontainer {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-content: flex-end;
	align-content: flex-end;
}
#itemcontainer  .individualitem {
	width: 19%;
	overflow-x: auto;
	margin-bottom: 10px;
}
#itemcontainer  .individualitem  .imgcontainer{
	width: 100%;
	height: 76px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#itemcontainer  .individualitem  .imgcontainer img{
	margin: 0;
	max-width: 100%;
	max-height: 76px;
}
#itemcontainer  .individualitem  a.imageexpand{
	display: inline-block;
	color: black;
	width: 100%;
	text-align: center;
}
#itemcontainer  .individualitem  a.imageexpand img{
	/* visibility: hidden;*/
	display: none;
}
#itemcontainer  .individualitem  span {
	display: block;
	width: 100%;
}
#itemcontainer  .individualitem  span span.bold{
	font-weight: bold;
	display: inline;
}
#itemcontainer  .individualitem .individualitemupload {
	display: none;
}
label[for='artwork']{
	float: left;
	margin: 0 5px 0 0;
}
input[name='artwork']{
	/*
	clear: both;
	width: 40%;
	min-height: 34px;
	float: right;
	*/
	border: 1px solid #ccc;
	margin-left: 2px;
	min-width: 80px;
	font-weight: bold;
	background-color: #f0f0f0;
}
button[name='uploadthumnailreset'] {
	float: right;
	border: 1px solid #ccc;
	height: 34px;
	margin-left: 2px;
	min-width: 100px;
	min-width: 80px;
	font-weight: bold;
	background-color: #f0f0f0;
}
button[name="uploadthumnailsubmit"]{
	/*
	clear: both;
	*/
	float: right;
	color: white;
	height: 34px;
	background-color: #94c073;
	text-align: center;
	border: none;
	font-weight: bold;
	min-width: 100px;
	padding: 5px 0;
}
.progress {
	display: block;
	width: 90%;
	margin: 0 auto;
}
.progress.progress-hidden {
	display: none;
}
.progress.ui-progressbar {
	display: block;
}
.thumnailuploadimage {
	width: 100%;
	margin-bottom: 3px;
	clear: both;
	display: inline-block;
}
.thumnailuploadimage input[name='currentthmbnailimage'] {
	margin-left: 5px;
}
.thumnailuploadimage p {
	margin: 0 5px;
}
.thumnailuploadimage > * {
	display: inline-block;
	float: left;
	
}
#itemcontainer  .individualitem  button {
	width: 98%;
	border: 1px solid #ccc;
	height: 25px;
	min-width: 80px;
	font-weight: bold;
	display: block;
	background-color: #f0f0f0;
	text-align: left;
}
.thumnailuploadcurrentimage {
	width: 100%;
	float: left;
	clear: both;
}
.thumnailuploadcurrentimage a.campaignthumbnailzoom{
	display: block;
	float: right;
}
.thumnailuploadcurrentimage p{
	margin: 0 5px 0 0;
	max-width: 30%;
	float: left;
}