/* CSS table generator for store selection */

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
}
.CSSTableGenerator table{
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.CSSTableGenerator tbody tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tbody tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tbody tr:hover td{

}
.blockMsg  {
	border:0px !important;
}
.CSSTableGenerator tbody tr:nth-child(odd){ background-color:#f0f0f0; }
.CSSTableGenerator tbody tr:nth-child(even)    { background-color:#ffffff; }
/* .CSSTableGenerator tr:nth-child(2), .CSSTableGenerator tr:nth-child(2) td{ background-color:#393333;color:#fff !important; } */
.CSSTableGenerator tbody td{vertical-align:middle;text-align:left;
	padding:7px;
	font-size:10pt;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	color:#000000;
	}
.CSSTableGenerator tbody tr td:last-child,  .CSSTableGenerator tr td:first-child {
	text-align: center;
}
.CSSTableGenerator thead tr th:last-child {
	text-align: center;
}
#mcbadditemtoprofile-scroll table thead  th:first-child  label{
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-bottom: 0;
}
#mcbadditemtoprofile-scroll table thead  th:first-child  input[name='selectAll']{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-top: 0;
}
#mcbadditemtoprofile-wrapper {
	position: relative;
}
#mcbadditemtoprofile-scroll {
	height: 350px;
	overflow: auto;
	margin-top: 5px;
}


/** Add a fixture to a profile **/
html#mcbaddfixturetoprofilepopout {
	height: auto;
}
#selectprofilessearchcontainer {
	float: right;
}
input[name="store_search"]{
	height: 34px;
	width: 200px;
	border: 1px solid #ccc;
	padding: 5px;
}
button#addfixturetoprofilesubmit {
	border: 1px solid #ccc;
	height: 34px;
	margin-left: 2px;
	width: 80px;
	font-weight: bold;
	background-color: #f0f0f0;
}
#StoreProfileDialogBox input[type='button'] {
	color: white;
	background-color: #94c073;
	font-weight: bold;
	min-width: 80px;
	height: 34px;
	border: 1px solid #ccc;
	float: right;
}
#StoreProfileDialogBox table-wrapper {
	position: relative;
}
#StoreProfileDialogBox table-wrapper table-scroll {
	overflow: auto;  
	margin-top: 5px;
}
#StoreProfileDialogBox table#currentProfileTable thead tr th {
	text-align: center;
}
#StoreProfileDialogBox table#currentProfileTable {
	width: 100%;
}
#StoreProfileDialogBox table#currentProfileTable tbody tr td {
	text-align: center;
}
#StoreProfileDialogBox table#currentProfileTable tbody tr td img.viewschematic {
	max-height: 34px;
}
#StoreProfileDialogBox table#currentProfileTable tbody tr:nth-child(odd){
	background-color:#f0f0f0;
}

/* remove title from dialog popout */
.noTitleStuff .ui-dialog-titlebar {display:none} 

/* landing page */
#createcampaign {
	text-align: left;
	padding: 20px;
}
#createcampaign fieldset label {
	display: inline-block;
	width: 100px;
	text-align: right;
}
#createcampaign fieldset input {
	width: 200px;
}
#createcampaign fieldset button.approve {
	margin-top: 30px;
	height: 34px;
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 3px;
	color: white;
	background-color: #94c073;
}
#createcampaign fieldset button.dialogclose {
	border: 1px solid #ccc;
	height: 34px;
	margin-left: 2px;
	min-width: 80px;
	font-weight: bold;
	background-color: #f0f0f0;
}

/* adding to profile popout */
#selectprofilesubmit {
	float: right;
	margin-top: 20px;
}
#selectprofilesubmit input[type='submit'] {
	border: 1px solid #ccc;
	height: 34px;
	margin-left: 2px;
	min-width: 80px;
	font-weight: bold;
	color: white;
	background-color: #94c073;
}
#selectprofilesubmit input {
	border: 1px solid #ccc;
	height: 34px;
	margin-left: 2px;
	min-width: 80px;
	font-weight: bold;
	background-color: #f0f0f0;
}
legend { 
	display: block;
	padding-left: 2px;
	padding-right: 2px;
	border: none;
	font-size: 23px;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	color: #222;
}
#addresses {
	overflow-y: scroll;
	width: 100% !important;
}


/*** page level breadcrumbs ***/
.page-breadcrumb {
	border-top: 5px solid #13436D !important;
}
.page-content label {
	margin-right:10px;
}
.page-content strong {
	display: block;
	padding-bottom: 10px;
}
.specifications {}
.specifications .btn-group button {
	width: 300px !important;
	text-align: left;
}
.specifications .btn-group {
	margin-bottom:10px;
}
/*** page leve styling ***/
.page-container {
	min-height: 85% !important;
}
/*** Select Profiles button ***/
.individualitemaddtoprofile input, .individualitemaddtoprofile select {
	height: 34px;
	width: 300px;
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 3px;
}
.invididualitemaddtocart {
	height: 34px;
	margin-top: 10px;
	width: 150px;
	font-weight: bold;
	border: 1px solid #ccc;
}
.invididualitemaddtocart-enabledbutton {
	color: white;
	background-color: #94c073;
}
.invididualitemaddtocart-disabledbutton {
	background-color: #f0f0f0;
	color: black;
}
/** MCB inventory search main page **/
/*** page styling ***/
.mcbinventoryleft {
	float: left;
	width: 70%
}
.mcbinventoryleft .row {
	margin-left: 0px;
}
.mcbinventoryright {
	float: right;
	width: 30%;
	border-left: 1px solid #ccc;
	padding-left: 10px;
}
/*** Change selected profile ***/
form[name="changecampaign"] {
	display: none;
}
/*** Search filter styling ***/
form.mcbinventorysearch {
	margin: 10px 0px 10px 0px;
	min-height: 34px;
}
form.mcbinventorysearch select#fixtureid {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
	min-height: 34px;
}
form.mcbinventorysearch select#fixtureid option {
	margin: 7px 0;
}
form.mcbinventorysearch input[name='search'] {
	height: 34px;
	width: 200px;
	border: 1px solid #ccc;
	padding: 5px;
}
form.mcbinventorysearch button.storesearch {
	border: 1px solid #ccc;
	height: 34px;
	margin-left: 2px;
	min-width: 80px;
	font-weight: bold;
	background-color: #f0f0f0;
}
.individualfixture {
	width: 300px;
	margin-top: 10px;
}
.individualfixture .individualitemaddtoprofile img {
	display: block;
	width: 300px;
}
.individualitemaddtoprofiledetail {
	margin-top: 10px;
}
/*** MCB main page profile list **/
.accordion h3 {
	font-size: 11pt !important;
}
.accordion h3 strong {
	padding-bottom: 0;
	display: inline-block;
}
.profileaccordion {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
.profileaccordion h3 {
	width: 100%;
	overflow-x: hidden;
}
.profileaccordion h3 i.fa.fa-check {
	/* display: block; */
	float: right;
	color: #1d381d;
	font-size: 1.5em;
}
.profileaccordion h3.ui-state-hover i.fa.fa-check {
	color: white;
}
/*
.profileaccordion h3 i.fa.fa-check{
	float: right;
	display: block;
	color: #1d381d;
	font-size: 4em;
}
*/
.profileaccordion ul li{
	display: inline-block;
	width: 100%;
}
.continuetoconfirmation {
	border: 1px solid #ccc;
	min-height: 34px;
	min-width: 80px;
	font-weight: bold;
	background-color: #f0f0f0;
	margin-bottom: 15px;
}
/*** Profile Accordion individual items ***/
.profilepackageitem {
	float: left;
}
.profilepackagedeleteitem {
	float: right;
}
.deleteprofileitemalert {
	display: none;
}
/*** Delete alert box ***/
.deleteprofileitemalert p {
	margin-top: 20px;
}
.deleteprofileitemalert i.fa-exclamation-triangle {
	color: red;
}
.ui-dialog-titlebar-close:before {
	content: "\f00d";
	color: black;
	font-size: 19px;
	position: relative;
	top: -12px;
	font-family: FontAwesome !important;
}

button.deleteitemcancellation {
	border: 1px solid #ccc;
	height: 34px;
	margin-left: 2px;
	min-width: 80px;
	font-weight: bold;
	background-color: #f0f0f0;
}
button.deleteitemconfirmation  {
	color: white;
	background-color: #94c073;
	height: 34px;
	border: none;
}
/************	MBP Profile **************/
#aqr {
	/*
	width: 25%;
	float: right;
	*/
	display: none;
}
#aqr form button {
	color: white;
	background-color: #94c073;
	height: 34px;
	border: none;
	float: right;
}

/****************** Administration section *****************/
#campaignid {
	width: 300px;
	padding: 7px;
	margin: 10px 0 20px 0;
}
#searchBox {
	border: 1px solid #cccccc;
	padding: 6px 13px;
}
#searchcontainer {
	float: left;
}
.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;	
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}
#loader {
	display: none;
}
#loader img {
	display: none;
}
.progressloader {
	width: 75%;
	height: 20px;
	display: block;
	margin: 0 auto;
}
#loader p {
	text-align: center;
}
#zoomDD {
	border: 1px solid #cccccc;
}
#leftSide .row {
	margin: 10px 0 20px 0;
}
#leftSide .row .btn-group {
	vertical-align: middle;
}