/****
Profile Manager
****/

/** clearfix **/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/** end clearfix **/
/** Global styles **/
.formautosubmit {
	visibility: none;
}
/** remove title from dialog popout **/
.noTitleStuff .ui-dialog-titlebar {display:none} 

/** Profile list/detail **/
#storelistcontainer {
	width: 77%;
	float: right;
	/* padding-left: 25px; */
}
#storelistcontainer form * {
	height: 34px;
}
#storelistcontainer form button[type='submit'] {
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	min-width: 100px;
}
#storelistcontainer form button.resetnoredirect {
	color: black;
	background-color: #f0f0f0;
	text-align: center;
	border: none;
	min-width: 100px;
}
#storelistcontainer form input[name='searchstore'] {
	margin-left: 30%;
	padding-left: 10px;
	width: 199px;
}
#storelistfromprofile {
	text-align: center;
	line-height: 200%;
	width: 100%;
}

#storelistfromprofile thead {
	line-height: 200%;
}
#storelistfromprofile thead tr th {
	text-align: center;
	background-color: #f0f0f0;
}
#storelistfromprofile tbody tr td:last-child img {
	height: 39px;
}
#storelistfromprofile tbody tr:nth-child(even) {
	background-color: #f0f0f0;
}
/** table search **/
.counter {
	display: none;
}
.search {
	margin-bottom: 3px;
	width: 30%;
	display: inline-block;
	margin-left: 27%;
}
#addresssearchsubmit {
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	height: 34px;
	padding: 0 15px;
}
#resetsearch {
	background-color: #f0f0f0;
	color: black;
    text-align: center;
    border: none;
	height: 34px;
	padding: 0 15px;
}
.results tr[visible='false'], .no-result {
	display: none;
}
.results tr[visible='true'] {
	display: table-row;
}
form#jqSearch select{
	height: 34px;
}
#storelistfromprofile tbody tr td p {
	margin-bottom: 0;
}

form.filter {
	margin-bottom: 15px;
}
form.filter select {
	background-color: #fafafa;
	min-width: 70px;
}

#indivstoreinfo {
	width: 19%;
	float: left;
	border-right: 2px solid #cecece;
}
#indivstoreinfo  p {
	margin-bottom: 3px;
}
#indivstoreinfo form button:first-child {
	margin-top: 15px;
}
#indivstoreinfo form button {
	color: white;
	background-color: #94c073;
	width: 90%;
	text-align: center;
	border: none;
	margin-bottom: 5px;
	padding: 8px 0;
}
#profileselection {
	width: 60%;
	margin: 0 auto;
}
.page-content {
	margin-bottom: 59px;
}
.page-breadcrumb {
	width: 1180px;
	border-top: 5px solid #13436D !important;
}
.listprofilebreadcrumbs {
	margin-bottom: 0px !important;
}
#profilelistheader {
	margin-top: 10px;
}
.newprofilecontainer {
	width: 45%;
	float: left;
	/*
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	align-items: stretch;
	*/
	margin-right: 25px;
	margin-bottom: 15px;
}
.newprofilecontainer label {
	clear: left;
	float: left;
}
.newprofilecontainer input {
	float: right;
	clear: right;
	max-width: 40px;
}
/** Profile assignement page **/
#assigntoprofile {
	text-align: center;
	width: 100%;
}
#assigntoprofile thead tr th {
	text-align: center;
	font-weight: normal;
	background-color: #f0f0f0;
}
/*
#assigntoprofile tbody tr[visible='true']:nth-child(even) {
	background-color: #f0f0f0;
}
*/
#assigntoprofile tbody tr td p{
	margin-bottom: 0px;
}
#assigntoprofile tbody tr td:last-child img{
	height: 30px;
}
#assigntoprofile-scroll {
	
}
#table-wrapper {
	position: relative;
	margin-bottom: 15px;
}
#table-scroll {
	overflow: auto;  
	margin-top: 5px;
	/* height: 800px;*/
}
#assignaddressestoprofile button {
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	min-height: 34px;
	min-width: 100px;
	padding: 5px 0;
	float: right;
}
#assignaddressestoprofile button[type='reset'] {
	background-color: #f0f0f0;
	color: black;
	min-height: 34px;
	min-width: 100px;
	margin-right: 10px;
	padding: 5px 0;
	float: right;
}
p#assignmenterror {
	margin: 10px 0 10px 0;
	display: none;
}
#assignaddressestoprofilefilter {
	margin-bottom: 16px;
	min-width: 70px;
}
/** Profile Update Page **/
p.profilecreateerror {
	display: none;
	color: red;
	font-weight: bold;
}
#updateprofile label[for='vchProfileName'] {
	margin-bottom: 7px;
}
#updateprofile input#vchProfileName {
	margin-bottom: 7px;
	padding: 5px;
	width: 300px;
}
#updateprofile fieldset legend {
	font-size: 14px;
	margin-bottom: 0;
}
#updateprofile button {
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	float: right;
	min-width: 100px;
	padding: 5px 0;
}
#updateprofile button.redirecttodashboard {
	background-color: #f0f0f0;
	color: black;
	margin-right: 10px;
}
#updateprofile input, #updateprofile label {
	margin: 0 10px 0 0;
	padding: 0;
}
.updateprofileitem {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

/** profile manager **/
form.profilemanager select {
	width: 300px;
	padding: 7px;
	margin: 10px 0 20px 0;
}
form.profilemanager label {
	font-size: 24px;
}
form.profilemanager input {
	width: 300px;
	padding: 7px;
	margin: 10px 0 20px 0;
}
form.profilemanager button {
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 0;
}
form.profilemanager button[type='reset'] {
	background-color: #f0f0f0;
	color: black;
	min-width: 100px;
	padding: 5px 0;
}
/** create new profile **/
form.creatednewprofile button {
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 0;
}
form.creatednewprofile button[type='reset'] {
	background-color: #f0f0f0;
	color: black;
	min-width: 100px;
	padding: 5px 0;
}
.page-header-fixed .page-container {
	min-height: 85% !important;
}