.ui-accordion .ui-accordion-header {
	color: rgb(107,107,107);
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgb(232,232,232);
}
.ui-accordion .ui-accordion-header.ui-state-active {
	color: rgb(114,162,99);
	border-bottom: 1px solid rgb(232,232,232);
}
.ui-state-hover span.ui-accordion-header-icon.ui-icon {
	color: rgb(232,232,232);
}
.ui-accordion  .ui-accordion-content {
	border: none;
}
.ui-accordion  .ui-accordion-content p {
	border-bottom: 1px solid rgb(232,232,232);
}