.storeviewlanding {
	display: block;
}
.formcontainer {
	float: right;
}
.formcontainer form {
	display: inline-block;
	float: left;
}
.formcontainer form button {
	min-height: 20px;
	background-color: #f0f0f0;
	color: black;
	min-width: 125px;
	padding: 5px 2px;
	border: 1px solid black;
}
label[for='profileid'] {
	display: none;
}
form#sv_campaigndropdown select {
	width: 300px;
	padding: 7px;
	margin: 10px 0 20px 0;
}
form#sv_campaigndropdown button {
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 0;
	clear: both;
}
#campaignID, #profileDropdown, #layoutsvgurl, #sv_profileid {
	display: none;
}
#leftSide {
	display: none;
	width: 100%;
}
#printbuttons {
	float: right;
	padding: 7px;
	margin: 10px 0 20px 0;
}
#printbuttons button {
	vertical-align: middle;
	min-height: 20px;
	background-color: #f0f0f0;
	color: black;
	min-width: 125px;
	padding: 5px 2px;
	border: 1px solid black;
	max-width: 225px;
	display: inline-block;
}
#printbuttons form {
	float: right;
	display: inline-block;
}
#rightSide {
	/*
	width: 37%;
	float: right;
	display: none;
	*/
}
select#zoomDD {
	width: 300px;
	padding: 7px;
	margin: 10px 0 20px 0;
}
#stage {
	border: 1px solid black;
}
/******  Store View SVG Handler ************/
.storeview.artwork {
	width: 48%;
	display: block;
	float: left;
}
.storeview.fixture {
	width: 48%;
	display: block;
	float: right;
}
.storeview.lightbox {
	display: block;
}
.storeview.lightbox img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.signage.info {
	width: 100%;
	display: block;
	clear: both;
}
.storeview figcaption {
	text-align: center;
	font-weight: bold;
}



@media print {
	.page-header-fixed .page-container {
		border-top: none !important;
	}
	.page-content {
		margin: 0 auto !important;
	}
	#leftSide #zoomDD, #leftSide label, #leftSide input, #printbuttons {
		display: none;
	}
}