.storeresourcescategories {
	display: block;
	float: left;
	width: 19%;
	height: 100%;
	margin-right: 3px;
}
.storeresourcescategories ul {
	list-style-type: none;
	padding-left: 0;
}
.storeresourcescategories ul li {
	margin-top: 5px;
	min-height: 25px;
	border-bottom: 1px solid gray;
}
.storeresourcescategories ul li i.fa  {
	float: right;
}
.storeresourcescategories ul li ul {
	display: none;
}
.storeresourcescategories ul li ul.children li {
	margin-bottom: 3px;
}
.storeresourcescategories h3 span.ui-accordion-header-icon.ui-icon {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-30%);
	left: 90%;
	color: gray;
}
#storeresourcesfiles {
	float: right;
	width: 80%;
	display: block;
}
#storeresourcesfiles #wrapper {
	width: 100%;
	max-width: 1100px;
	min-width: 800px;
}
#storeresourcesfiles #wrapper #columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 5px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 5px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 5px;
	column-fill: auto;
}
#storeresourcesfiles #wrapper #columns .pin {
	/* display: inline-block; */
	display: block;
	background: #FEFEFE;
	border: 1px solid #d0d0d0;
	border-radius: 10px !important;
	/* box-shadow: 0 1px 2px black; */
	margin: 0 2px 3px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
#storeresourcesfiles #wrapper #columns .pin a {
	display: block;
}
#storeresourcesfiles #wrapper #columns .pin a img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
#storeresourcesfiles #wrapper #columns .pin p{
	margin: 0;
	width: 100%;
	text-align: center;
	border-top: 1px solid gray;
	margin-top: 5px;
}
#storeresourcesfiles #wrapper #columns .pin p a.downloaditem {
	color: black;
}
@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}



#storeresourcesfiles .resourceitem {
	width: 32%;
	border: 1px solid black;
	margin: 2px;
}
#storeresourcesfiles .resourceitem  .mimetype {
	width: 100%;
	min-height: 10em;
	margin-top: 10px;
	display: table;
}
#storeresourcesfiles .resourceitem  .mimetype .mime-status{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 8em;
}
#storeresourcesfiles .resourceitem  .mimetype img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
/*
#storeresourcesfiles .resourceitem .mimetype p.fa {
	display: inline-block;
	margin: 0 auto;
	font-size: 7em;
}
*/
#storeresourcesfiles .resourceitem .specification{
	width: 100%;
	display: inline-block;
	text-align: center;
}
#storeresourcesfiles .resourceitem .specification .downloaditem{
	color: black;
}


/**********  ADMINISTRATION **************/
nav {
	width: 100%;
	padding: 0;
	margin: 0;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
}
#storeresourcesadministration {
	display: block;
	width: 100%;
	margin-bottom: 1em;
	clear: both;
}
#storeresourcesadministration .deleteindividualitem {
	display: none;
}
.deleteindividualitem button[name='deleteindividualitem'] {
	background-color: #94c073;
	color: white;
	text-align: center;
	border: none;
	min-width: 120px;
	padding: 5px 0;
}
.deleteindividualitem button[name='closedialog'] {
	border: 1px solid #ccc;
	color: black;
    min-width: 100px;
    background-color: #f0f0f0;
	padding: 5px 0;
}
#storeresourcesadministration form {
	display: none;
}
form[name='alterindividualitem'] input[type='text'] {
	width: 70%;
}
form[name='alterindividualitem'] button[name='updateitem']{
	background-color: #94c073;
	color: white;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 0;
}
form[name='alterindividualitem'] button[name='reset']{
    border: 1px solid #ccc;
	color: black;
    min-width: 100px;
    background-color: #f0f0f0;
	padding: 5px 0;
}

#storeresourcesadministration .itemcontainer {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	/* You can set flex-wrap and flex-direction individually */
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	/* Or do it all in one line with flex flow */
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	/* tweak the where items line up on the row */
	/* valid values are: flex-start, flex-end, space-between, space-around, stretch */
	-webkit-align-content: flex-end;
	align-content: flex-end;
}
#storeresourcesadministration .item {
	width: 23%;
	border: 1px solid black;
	display: table;
}
#storeresourcesadministration .item span{
	width: 100%;
	display: inline-block;
	text-align: center;
}
#storeresourcesadministration .item .mimecontainer {
	display: table;
	min-height: 10em;
	width: 100%;
}
#storeresourcesadministration .item .mimecontainer img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
#storeresourcesadministration .item .mimecontainer i.mime-status{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	font-size: 8em;
}
#storeresourcesadministration .item .changeitem a {
	display: inline-block;
	width: 50%;
}
#storeresourcesadministration .item .changeitem a i.fa {
	display: block;
	text-align: center;
}


#uploadnewfile {
	width: 50%;
	display: inline-block;
	/*
	float: left;
	clear: right;
	*/
}
#uploadnewfile form > * {
	margin-top: 5px;
}
#uploadnewfile form progress {
	width: 100%;
	clear: both;
	display: none;
}
#uploadnewfile form button[name='newfileupload'] {
	background-color: #94c073;
	color: white;
	text-align: center;
	border: none;
	min-width: 150px;
	padding: 5px 0;
}

#storeresourcescategoryadministration {
	display: inline-block;
	width: 50%;
	margin-bottom: 1em;
	float: left;
}
/*
#storeresourcescategoryadministration button {
	background-color: #94c073;
	color: white;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 5px;
}
*/
#storeresourcescategoryadministration div.alert {
	display: none;
}
#storeresourcescategoryadministration div.alert .edit, #storeresourcescategoryadministration div.alert .delete{
	display: none;
}
div.alert .edit button[name="post"], #storeresourcescategoryadministration div.alert .delete button[name="delete"] {
	background-color: #94c073;
	color: white;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 5px;
}
div.alert .edit button[name="close"], #storeresourcescategoryadministration div.alert .delete button[name="cancel"] {
	border: 1px solid #ccc;
	color: black;
    min-width: 100px;
    background-color: #f0f0f0;
	padding: 5px 0;
}

#storeresourcescategoryadministration .alert p .ui-icon.ui-icon-alert{
	float: left;
	margin: 12px 12px 20px 0;
}
#storeresourcescategoryadministration .listallcategories li a{
	color: black;
}
#storeresourcescategoryadministration div.createcategory {
	display: none;
}
#storeitemsneedingattention  .tabs div {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	/* You can set flex-wrap and flex-direction individually */
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	/* Or do it all in one line with flex flow */
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	/* tweak the where items line up on the row */
	/* valid values are: flex-start, flex-end, space-between, space-around, stretch */
	-webkit-align-content: flex-end;
	align-content: flex-end;
}
#storeitemsneedingattention  .tabs div .item {
	width: 19%;
	border: 1px solid black;
	min-height: 50px;
}
#storeitemsneedingattention  .tabs div .item span {
	display: block;
	width: 98%;
	clear: none;
}
#storeitemsneedingattention  .tabs div .item span a{
	width: 100%;
	display: block;
	text-align: center;
}
#storeitemsneedingattention form {
	display: none;
}
form[name='attentionform'] input[type='text'] {
	width: 70%;
}
form[name='attentionform'] button[name='updateitem']{
	background-color: #94c073;
	color: white;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 0;
}
form[name='attentionform'] button[name='reset']{
    border: 1px solid #ccc;
	color: black;
    min-width: 100px;
    background-color: #f0f0f0;
	padding: 5px 0;
}


.createcategory  button[name='sendnewcategory'] {
	background-color: #94c073;
	color: white;
	text-align: center;
	border: none;
	min-width: 100px;
	padding: 5px 5px;
}
.createcategory button[name='resetnewcategory']{
	border: 1px solid #ccc;
	color: black;
    min-width: 100px;
    background-color: #f0f0f0;
	padding: 5px 0;
}