.Arrow-btn-right {
  background: none;
  border: 0;
  color: white;
  position: relative;
  width: 95%;
  height: 7em;
}
.Arrow-btn-right a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 10;
}
.Arrow-btn-right::before, .Arrow-btn-right::after {
  background: #00512F;
  border-radius: 2px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 3.5em;
}
.Arrow-btn-right::before {
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  
  top: 0;
}
.Arrow-btn-right::after {
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg); 
  bottom: 0;
}
.Arrow-btn-right:hover::before, .Arrow-btn-right:hover::after {
  background: #007C48;
}
.Arrow-btn-right:focus {
  outline: 0;
}
.Arrow-btn-right:focus::before, .btn-right:focus::after {
  background: #68d3e2;
}