/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
#packingSlipArea {
	
}

#itemSKUList {
	width: 255px;
}

#listArea {
	width: 255px;
	margin-right:10px;
	float: left;
	background-color: #FF8080;
	border: 1px solid black;
}

#listArea td {
	padding: 0 5px;
}

#packingContainer {
	float: left;
}

#listArea td {
	padding-right: 6px;
}
	
.hole {
	width: 225px;
	border: 1px solid black;
	float: left;
	background-color: #F7C6C6;
	margin-right: 2px;
}

.hole td {
	padding: 0 5px;
}

.item {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
