body {
margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	font-family: Verdana,Arial,sans-serif;
}

#header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

label {
	width: 200px;
	float: left;
	margin-bottom: 5px;
}

input {
	vertical-align: middle;
}

#mainmenu  {
	width: 10%;
	margin: 0 auto;
}

#getUser {
	display: none;
}

.nonLink, .nonlink:visited {
	color: black;
	cursor: text;
	text-decoration: none;
}

.link {
	color: blue !important;
}
.noTitleStuff .ui-dialog-titlebar {display:none}