.Banner {
	color: #F9ED1A;
}

.BannerStyle {
	background: none;
	border: 1px solid #CCCC00;
	color: #CCCC00;
}

.BannerStyle p {
	color: #000000;
}

.BannerFill {
	background-color: #CCCC00 !important;
	fill: #CCCC00 !important;
}

.BannerDotWhack {
	color: #CCCC00;
	
}

.BannerDotWhackStyle {
	background: none;
	border: 1px solid #CCCC00;
	color: #CCCC00;
}

.BannerDotWhackStyle p {
	color: #000000;
}

.BannerDotWhackFill {
	background-color: #CCCC00 !important;
	fill: #CCCC00 !important;
}

.DoorClingsStyle {
	background: none;
	border: 1px solid #13E882;
	color: #13E882;
}

.DoorClingsStyle p {
		color: #000000;
}

.DoorClingsFill {
	background-color: #13E882 !important;
	fill: #13E882 !important;
}

.EndCapDanglerStyle {
	background: none;
	border: 1px solid #00FFFF;
	color: #00FFFF;
}

.EndCapDanglerStyle p {
	color: #000000;
}

.EndCapDanglerFill {
	background-color: #00FFFF !important;
	fill: #00FFFF !important;
}

.EndCapDotWhackStyle {
	background: none;
	border: 1px solid #6D12D8;
	color: #6D12D8;
}

.EndCapDotWhackStyle p {
	color: #000000;
}

.EndCapDotWhackFill {
	background-color: #6D12D8 !important;
	fill: #6D12D8 !important;
}

.EndCapHeaderStyle {
	background: none;
	border: 1px solid #0092FF;
	color: #0092FF;
}

.EndCapHeaderStyle p {
	color: #000000;
}

.EndCapHeaderFill {
	background-color: #0092FF !important;
	fill: #0092FF !important;
}

.FloorDecalStyle {
	background: none;
	border: 1px solid #F27DAE;
	color: #F27DAE;
}

.FloorDecalStyle p {
	color: #000000;
}

.FloorDecalFill {
	background-color: #F27DAE !important;
	fill: #F27DAE !important;
}

.FloorStackingCubeStyle {
	background: none;
	border: 1px solid #684205;
	color: #684205;
}

.FloorStackingCubeStyle p {
	color: #000000;
}

.FloorStackingCubeFill {
	background-color: #684205 !important;
	fill: #684205 !important;
}

.EndCapDangler8x8Style {
	background: none;
	border: 1px solid aqua;
	color: aqua;
}

.EndCapDangler8x8Style p {
	color: aqua;
}

.EndCapDangler6x6Style {
	background: none;
	border: 1px solid aqua;
	color: aqua;
}

.EndCapDangler6x6Style p {
	color: aqua;
}

.EndCapDangler5x5Style {
	background: none;
	border: 1px solid aqua;
	color: aqua;
}

.EndCapDangler5x5Style p {
	color: aqua;
}

.FloorStackingCubeDecalStyle {
	background: none;
	border: 1px solid #A06208;
	color: #A06208;
}

.FloorStackingCubeDecalStyle p {
	color: #000000;
}

.FloorStackingCubeDecalFill {
	background-color: #A06205 !important;
	fill: #A06208 !important;
}

.LadderGraphicStyle, .LadderGraphicDotWhackStyle {
	background: none;
	border: 1px solid #684205;
	color: #684205;
}

.LadderGraphicStyle p, .LadderGraphicDotWhackStyle p {
	color: #000000;
}

.LadderGraphicFill {
	background-color: #684205 !important;
	fill: #684205 !important;
}

.LobbyCardStyle {
	background: none;
	border: 1px solid #A06205;
	color: #684205;
}

.LobbyCardStyle p {
	color: #000000;
}

.LobbyCardFill {
	background-color: #684205 !important;
	fill: #684205 !important;
}

.Lug-OnStyle {
	background: none;
	border: 1px solid #A06208;;
	color: #A06208;
}

.Lug-OnStyle p {
	color: #000000;
}


.Lug-OnFill {
	background-color: #A06208 !important;
	fill: #A06208 !important;
}

.Pop-UpTotem24x7Style {
	background: none;
	border: 1px solid #A06205;
	color: #684205;
}

.Pop-UpTotem24x7Style p {
	color: #000000;
}

.Pop-Pop-UpTotem24x7Fill {
	background-color: #684205 !important;
	fill: #684205 !important;
}

.Pop-UpTotem24x84Style {
	background: none;
	border: 1px solid #A06205;
	color: #684205;
}

.Pop-UpTotem24x84Style p {
	color: #000000;
}

.Pop-UpTotem24x84Fill {
	background-color: #684205 !important;
	fill: #684205 !important;
}

.ShelfCubeOverlayStyle {
	background: none;
	border: 1px solid #12D888;
	color: #12D888;
}

.ShelfCubeOverlayStyle p {
	color: #000000;
}



.ShelfCubeOverlayFill {
	background-color: #12D888 !important;
	fill: #12D888 !important;
}

.ShelvingCubesStyle {
	background: none;
	border: none;
	color: #12D888;
}

.ShelvingCubesFill {
	background-color: #12D888 !important;
	fill: #12D888 !important;
}

.WindowDecalStyle {
	background: none;
	border: none;
	color: #13E882;
}

.WindowDecalFill {
	background-color: #13E882 !important;
	fill: #13E882 !important;
}

#stage {
	border: black 1px solid;
}

#storeList {
	height: 210px;
	overflow-y: hidden;
	overflow-x: auto;
	-ms-overflow-x: scroll;
	white-space: nowrap;
}

ui-accordion ul {
	list-style: none !important;
}

#storeList .storeContainer {
	width: 250px;
	padding-top: 20px;
	zfloat: left;
	display: inline-block;
}

.storeContainer .text {
	text-align: center;
	/*float: left;*/
	position: relative;
	margin-top: 33px;
	/*left: 87px;*/
	
}

.circleMain {
	width: 100px;
	height: 100px;
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	background: whitesmoke;
	margin: 0 auto;
}

.storeContainer p  {
	/*float: right;*/
	/*padding-top: 30px;*/
	/*padding-right: 14px;*/
	position: relative;
	/*top: -100px;*/
	/*right: 83px;*/
	margin-top: -70px;
	font-size: 2.2em;
	text-align: center;
}

.circleColor-orangeRed {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	background: #f88938;
}

.circleColor-orange {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	background: #f8bd38;
}

.circleColor-yellow {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	background: #e9f838;
}

.circleColor-lightGreen {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	background: #d3e039;
}

.circleColor-green {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	background: #94c073;
}

#quickViewOverView {
	width: 45%;
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 30px;
}

#quickViewStore {
	font-size: 24px;
}

#quickViewCreate {
	color: white;
	background-color: #94c073;
	text-align: center;
	border: none;
	min-width: 120px;
	padding: 5px 0;
}

#quickViewClose {
	background-color: #f0f0f0;
	color: black;
	padding: 5px 0;
	min-width: 100px;
	border: none;
}

.quickViewPopUp {
	height: auto !important;
	width: 60% !important;
	top: 25% !important;
	left: 20% !important;
	padding: 20px !important;
}

#quickView {
	height: auto !important;
}

#quickViewImage {
	border: 1px solid #5B5C5B;
	padding: 5px;
