@charset "UTF-8";
/* CSS Document */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  

}

.backgroundColumn {
	border-right: 1px solid #efefef;
	padding-top:20px;
}

.templateBreadcrumb {
	font-size:16px; 
	font-weight:bold;
	align-content:center;
	background-color:none;
	margin-top:10px;
}

.breadcrumbBG {
	border-bottom: 1px solid #efefef;
	margin-bottom:20px;
	
}

.breadcrumbBG2 {
	border-bottom: 1px solid #0078FC;
	margin-bottom:25px;
	
}

.dialArea {
	border-right: 1px solid #efefef;
	padding:10px 10px 10px 10px;
}

.templateHeading {
	font-weight:bold; 
	font-size:16px;
}

.dialText {
	font-size:14px; 
	text-align:center;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { color:#ffffff; background-color:#872f7b; margin-bottom:10px;}

.pdfdownloads.active > a {background-color: #93c83a !important;}

.customizedprints.active > a {background-color: #872f7b !important;}

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus { color:#000000; background-color:#E9E9E9; border: 2px solid #bbb; margin-bottom: 10px;}

.nav-stacked > li+li { margin-top:10px; }

.noTitleStuff .ui-dialog-titlebar {display:none}