/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  height: 100%;
}
.footer {
  /* Set the fixed height of the footer here */
  position: fixed;
  bottom:0;
  height: 60px;
  width:100%;
  background-color: #000;
  color: #fff;
  z-index:6;
}
.cont-mar{
  margin-bottom: 60px;
}
